.myproject-container {
  /* border: 1px solid black; */
  display: flex;
  margin-bottom: 5rem;
}

.myproject-container img {
  width: 33.75rem;
}

.myproject-container .about-project {
  border-top: 1px solid var(--secondaryGrey);
  border-bottom: 1px solid var(--secondaryGrey);
  padding-bottom: 1rem;

  margin-left: 8.75rem;

  display: flex;
  flex-direction: column;
}

.myproject-container .about-project h2 {
  font-size: var(--h2Size);
}

.myproject-container .about-project p {
  line-height: var(--textLine);
}

.myproject-container .about-project .used-tecnology {
  /* border: 1px solid salmon; */
  margin-bottom: 1rem;
}

.myproject-container .about-project .used-tecnology img {
  width: 2rem;
  margin-right: 0.5rem;
}

.myproject-container .about-project .used-tecnology h3 {
  /* border: 1px solid green; */
}

@media (max-width: 768px) {
  .myproject-container {
    /* border: 1px solid black; */
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .myproject-container img {
    width: 100%;
  }
  .myproject-container .about-project {
    margin-left: 0;
  }
}
