.header-container {
  width: 69.4rem;
  height: 3rem;
  background-color: var(--primaryDark);
  margin: 58px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container svg {
  padding-left: 1rem;
}

.header-container nav {
  width: 17.4rem;

  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.header-container nav .nav-option {
  font-family: var(--textFont);
  font-size: var(--textSize);

  text-decoration: none;
  color: var(--secondaryLight);
}

.header-container .nav-option:hover {
  color: var(--primaryGreen);
}

@media (max-width: 768px) {
  .header-container {
    width: 90vw;
  }
  .header-container nav {
    justify-content: space-around;
  }
}
